
  <div class="modal-title" style="text-align:center; margin-top: 20px;"><h4>Logout</h4></div>
  <div class="modal-body" style="text-align: center;"><h6>Do you want to Logout ?</h6></div>
    <div class="modal-footer" style="border: none;">
      <button type="button" class="btn btn-secondary" (click)="modalRef.close()" style="background-color:#fb641b !important; ">
        Cancel
      </button>
      <button type="button" class="btn btn-primary" (click)="logOut()">logout</button>
    </div>


