.navbar-dark {
    height: 50px;
}
.navbar-light
{
    height:100px
}
.navbar-brand{
    font-family: 'Alegreya Sans', sans-serif;
     font-family: 'Work Sans', sans-serif;
}
#Seller{
color: white;
font-style: bold;
}
#navbarDropdownMenuLink{
    color:white
}
a{
    color:black
}
.navImg{    
    height: 60px;
    text-align: center;
}
 .a:hover{
    color: dodgerblue;
}
.a{
    cursor: pointer;
}
