input{
    border-radius: 8px;    
    outline-width: thick;

}
label{
    color: black;
}
input.ng-touched.ng-invalid {
    border-color:rgb(236, 53, 154);
}

input.ng-touched.ng-valid {
    border-color:rgb(9, 156, 9);
}
.modal-body{
    background-color: whitesmoke
}