<div class="modal-header" style="background-color: #287bf3; color: white;">
    <h5 class="modal-title" id="exampleModalLabel">Display Product</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
      style="color:white;"
    ></button>
</div>
<div class="modal-body">
  <ul>
    <img src="{{image}}" alt="loading..." class="imgSrc" >
    <li>Product Name : {{productData?.title}}</li>
    <li>Category : {{productData?.category}}</li>
    <li>Description : {{productData?.description}}</li>
    <li>Price : {{productData?.price}}</li>
  </ul>

</div>

