
  <!-- carousel -->

  <div class="my-2">
    <mdb-carousel [controls]="true" [indicators]="false" [dark]="true">
      <mdb-carousel-item [interval]="10000">
        <img
          src="		https://rukminim1.flixcart.com/flap/1688/280/image/a4dcfb4c5a76ded6.jpg?q=50"
          class="Cimg"
          alt="..."
        />
      </mdb-carousel-item>
      <mdb-carousel-item [interval]="2000">
        <img
          src="	https://rukminim1.flixcart.com/flap/1688/280/image/012d255d668f23bd.jpg?q=50"
          class="Cimg"
          alt="..."
        />
      </mdb-carousel-item>
      <mdb-carousel-item>
        <a href="#">
    
        <img
          src="	https://rukminim1.flixcart.com/flap/1688/280/image/7eec156b06869376.jpg?q=50"
          class="Cimg"
          alt="..."
        />
        </a>
      </mdb-carousel-item>
    </mdb-carousel>
    </div>
    
    <!-- deal Of The Day -->
    <div class="container-fluid mx-3"> 
      <div class="navbar"> 
        <h5>Deal Of The Day</h5>
      <button class="btn btn-primary">View All</button>
      </div>
      <div class="navbar my-3">
        <ul>
          <div class="card" >
            <div class="card-body">
              <img src="https://rukminim1.flixcart.com/image/200/200/kziqvm80/remote-control-toy/c/d/y/remote-control-1-18-scale-rock-crawler-2-wd-high-speed-original-imagbgnaavxq2vft.jpeg?q=70" class="card-img-top" alt="Sunset Over the Sea"/>
              <p class="card-text"></p>
            </div>
          </div>
        </ul>
        <ul>
          <div class="card" >
            <div class="card-body">
              <img src="https://rukminim1.flixcart.com/image/150/150/l47cu4w0/sticker/b/c/1/small-3d-green-grass-wallpaper-self-adhesive-and-waterproof-original-imag8shmwdpebe8h.jpeg?q=70" class="card-img-top" alt="Sunset Over the Sea"/>
              <p class="card-text"></p>
            </div>
          </div>
        </ul>
        <ul>
          <div class="card" >
            <div class="card-body">
              <img src="https://rukminim1.flixcart.com/flap/200/200/image/e3ff066cfd6881cb.jpg?q=70" class="card-img-top" alt="Sunset Over the Sea"/>
              <p class="card-text"></p>
            </div>
          </div>
        </ul>
        <ul>
          <div class="card" >
            <div class="card-body">
              <img src="https://rukminim1.flixcart.com/image/312/312/l1nwnm80/sandal/x/b/g/8-gd-3250119-42-woodland-camel-original-imagd677zyg4jtu3.jpeg?q=70" class="card-img-top" alt="Sunset Over the Sea"/>
              <p class="card-text"></p>
            </div>
          </div>
        </ul>
        <ul>
          <div class="card" >
            <div class="card-body">
              <img src="https://rukminim1.flixcart.com/image/312/312/k612pow0/slipper-flip-flop/q/v/m/a41-10-smartx-black-original-imafgdgchh8rbamt.jpeg?q=70" class="card-img-top" alt="Sunset Over the Sea"/>
              <p class="card-text"></p>
            </div>
          </div>
        </ul>
        </div>
    </div>
    
    <!-- Banner -->
    
    <div>
        <img
          src="	https://rukminim1.flixcart.com/flap/2670/384/image/1ad3b2226e221a0d.png?q=50"
          class="addimg"
          alt="..."
        />
      </div>
    
    <div class="my-5"> 
      <div>
        <h5>Top Stories:Brand Directory</h5>
      </div>
      <p>
        Top Stories:Brand Directory
    MOST SEARCHED FOR ON FLIPKART:Sell Old Mobile PhonesDEFY Gravity ZElectronics StoreOPPO A16KVivo Y33TOPPO Reno7 5GBathroom Exhaust FanSamsung Window ACOPPO Reno7 Pro 5GiPhone 13iPhone 13 ProiPhone 13 Pro MaxiPhone 13 MiniFlipkart QuickBooksFlipkart Help CentreOnline Boat StoreFlipkart Track OrdersFlipkart Manage OrdersFlipkart Return OrdersFlipkart Gift Cards StoreFlipkart Axis Bank Credit CardFlipkart Pay Later
    MOBILES:iPhone 12 64GBiPhone 12 Pro 512GBiPhone 12 128GBVivo Y91iVivo Y11Vivo Y15Vivo Y50Vivo Y12Reno2 FOppo A12Oppo F15Oppo A31Samsung A71Samsung A51Samsung A31Realme X2iPhone 11iPhone 11 ProiPhone 11 Pro MaxMobile Offersiphone x4G MobileNokia MobileSamsung MobileiphoneOppo MobileVivo Mobile
    CAMERA:GoPro Action CameraNikon CameraCanon CameraSony CameraCanon DSLRNikon DSLR
    LAPTOPS:MacBook Pro M2Infinix X1 Slim Series Core i5 10th GenASUS Vivobook S14 OLED (2022)ASUS Zenbook 14 OLED (2022)Realme Book Prime Core i5 11th GenMicrosoft Surface Go Pentium 128GBBranded LaptopsApple LaptopsAcer LaptopsLenovo LaptopsDell LaptopsAsus LaptopsHP LaptopsGaming Laptops2 in 1 LaptopsLaptopsDell latest laptops 2022HP latest laptops 2022
    TVS:Nokia TVPanasonic TVThomson TVVu TVRealme TVMotorola TVOnePlus TVsLG TVTVSony TVSamsung TVAndroid TelevisionIffalcon TvMi TV
    LARGE APPLIANCES:TV & Appliances End of Season SaleTelevisionWashing MachinesRefrigeratorsAir ConditionersElectric CookersElectric Jug(Heater) / Travel KettlesInduction CooktopsInverters / stabilizerIrons / Iron BoxMixer Grinder JuicerWet GrindersChimneysMicrowave OvensVacuum CleanersWater PurifierFan
    CLOTHING:Men ShirtsKurta PajamaKurtasMen T-ShirtsJeansSareeDressesKids DressesDesigner Salwar SuitsBraDesigner KurtisTrack PantMen KurtasGym WearParty DressesPalazzo SuitsBoys ClothingGlovesNightyMaxi DressesAnarkaliGownsCulottesSalwar SuitsKurtisDesigner SareesLeggingsShortsGeorgette SareesEthnic WearBriefs & TrunksNike WatchesAscot TieCorset Tops TunicsLeather PU SkirtsCorset tops camisolesWomen magenta earringsNo collar jacketsGreen dress materialBlack patiala kurta setMen camel shoes casualBlack pathaniWallets slingKhaki dressesKids formal dressesMauve shirtsWomen henleyIndigo trousersLeopard dressesSleeveless shrugs
    FOOTWEAR:ShoesAdidas ShoesReebok ShoesNike ShoesPuma ShoesBootsBata ShoesWoodland ShoesSkechers ShoesSneakersWomens BootsSports ShoesLoafersSandalsLotto Sports ShoesCasual ShoesWomens Skechers ShoesAsics Sports ShoesFormal ShoesSchool Shoes
    GROCERIES:PhonePe Grocery VoucherHand WashSoapCashew NutsSunflower OilEggsToilet CleanerHarpic Toilet CleanerDettol SoapMustard OilBiscuitsCheesePatanjali AttaFortune OilAashirvaad AttaTea
    BEST SELLING ON FLIPKART:Panasonic Side by Side RefrigeratorBest Gas GeyserKitchen GeyserNutri BlendersPortable Air CoolerBest Air CoolerBagsHitachi Refrigerator 3 DoorBooksToysCandlesHelmetsWall ClocksBaby FoodChocolatesCyclesCalculatorsLipsticksMaskFastrack WatchesWalletsEarringsGold CoinsRealme Pad MiniHandbagsconekt SW2 SmartwatchMivi DuoPods a350boAt Wave Connect with Bluetooth Calling
    FURNITURE:FurnitureSofasBedsDining setsWardrobesMattressesTV UnitsTablesChairsShelvesBean BagsOffice ChairsComputer TableOffice TablesRed SofaWakefit BedsWhite SofaWakefit MattressGreen SofaBlack SofaBrown Sofa
    BGMH:Whey ProteinKids CameraToysRusOnline GuitarBooks StoreMusical Instrument StoreEnergy DrinksToysMilk Drink MixesRakhiProtein Supplements
      </p>
    </div>
